<app-title></app-title>

<app-line></app-line>

<app-subtitle subtitle="Lorem Ipsum"></app-subtitle>
<app-text-content></app-text-content>

<app-line></app-line>

<app-subtitle subtitle="Lorem Ipsum 2"></app-subtitle>
<app-text-content></app-text-content>

<app-line></app-line>

<app-subtitle subtitle="Lorem Ipsum 3"></app-subtitle>
<app-text-content></app-text-content>

<app-line></app-line>

<app-subtitle subtitle="Lorem Ipsum 4"></app-subtitle>
<app-text-content></app-text-content>

<router-outlet />
