hr {
  color: red;
  box-sizing: border-box;
  width: 50%;
  margin: 0rem 10rem 0rem 10rem ; /* Centraliza a linha horizontal */
}

div {
  background-color: rgb(19, 17, 17);
  box-sizing: border-box;
  width: 50%;
  margin: 0rem 10rem 0rem 10rem ; /* Centraliza a linha horizontal */
}

h2 {
  color:whitesmoke;

}

p {
  color: whitesmoke;
}


